#--- PostgreSQL ---#
PGDATABASE=ft_transcendence
PGUSER=user_name
PGPASSWORD=user_password
PGHOST=database
PGPORT=5432
#--- Backend ---#
HOST="localhost or 0.0.0.0"
PORT=3000
#--- JWT ---#
JWT_SECRET=change_me_to_a_long_random_secret
JWT_ACCESS_EXPIRY=15m
JWT_REFRESH_EXPIRY=7d
#--- Google ---#
GOOGLE_CLIENT_ID="clientIdHere"
GOOGLE_CLIENT_SECRET="clientSecretHere"
GOOGLE_REDIRECT_URI="https://localhost:8443/google"
