#--- PostgreSQL ---#
PGDATABASE=database_name
PGUSER=user_name
PGPASSWORD=user_password
PGHOST=database_host
PGPORT=port_number
#--- Backend ---#
HOST="localhost or 0.0.0.0"
PORT=3000
GOOGLE_API_KEY="api key here"
